@using Localiz.Resources

@{
    ViewData["Title"] = "Home Page";
}
@inject LocalizationService LocalizationService

<div class="text-center">
    <h1 class="display-4">@LocalizationService.GetLocalizedString("Wellcome")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@LocalizationService.GetLocalizedString("Titlee")</a></p>
</div>
